<template name="signup">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3 class="page-header">Sign Up to Join the GEM Network</h3>
      <form id="application-signup" class="signup">
        {{> optRender name ='betaSignup'}}
        <label for="accountType">Account Type</label>
        <div class="form-group">
          <input type=radio name="Youth" value="youth"> Youth<br>
          <p>Engaged youth ages 12-24 who are passionate about changing the world.</p>
          <input type=radio name="Supporter" value="supporter"> Supporter<br>
          <p>Leaders, mentors, schools, non profit organizations, companies.</p>
        </div> <!-- end .form-group -->
        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
        </div> <!-- end .form-group -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div> <!-- end .form-group -->
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Sign Up">
        </div> <!-- end .form-group -->
      </form>
      <p>Already have an account? <a href="{{pathFor 'login'}}">Log In</a>.</p>
    </div> <!-- end .col-xs-12 -->
  </div> <!-- end .row -->
</template>
